@import url('https://fonts.googleapis.com/css2?family=Font1&family=Font2&display=swap');

body {
  margin: 0;
  font-family: 'Font1', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(246, 246, 246);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
