.data-color-wrapper {
    background-color: #f83337;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  .input-wrapper {
    background-color: #ff4d4f;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
  }
  
  .input-wrapper input {
    width: 70%;
    max-width: 300px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
  }
  
  .data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .data-card {
    margin: 10px;
    width: 200px;
    background-color: rgb(223, 223, 223);
  }
  
  .apex-logo {
    width: 250px;
    margin-bottom: 10px;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home-category {
    margin-bottom: 16px;
    text-align: center;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Font1, sans-serif;
  }
  
  .category-list {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: black;
  }
  
  .category-item {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff; 
    font-size: 14px;
    text-decoration: none; 
  }
  
  .category-item.active {
    text-decoration: underline;
    text-decoration-color: red;
  }

  .custom-modal .ant-modal-content {
  background-color: #1f1f1f;
  border: 1px solid #f83337;
}

.custom-modal .ant-modal-header {
  background-color: #f83337;
  border-bottom: none;
  padding: 10px 24px;
  text-align: center;
}

.custom-modal .ant-modal-title {
  color: #fff;
  font-size: 18px;
}

.custom-modal .ant-modal-close-x {
  color: #fff;
}

.custom-modal .ant-modal-close-x:hover {
  color: #f83337;
}

.custom-modal .ant-modal-close {
    display: none;
  }
  
  .custom-modal .close-button {
    position: absolute;
    bottom: 10px;
    right: 20px; 
    background-color: #f83337; 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    z-index: 999; 
  }  
  
  .custom-modal .close-button:hover {
    background-color: #ff5252; 
  }
  
  .custom-modal .ant-modal-body {
    padding: 20px;
    margin-bottom: 20px;
  }
  